
{% extends "../base.html" %}

{% block head%}
<title>User Manage</title>
{% end %}

{% block other-css %}
<script src="{{static_url('libs/js/myjs/bootstrap-paginator.js')}}"></script>
<script src="{{static_url('libs/js/myjs/multiple-select.js')}}"></script>
<link rel="stylesheet" href="{{static_url('libs/css/mycss/multiple-select.css')}}">
{% end %}

{% block content-nav %}
	<ul class="breadcrumb">
		<li>
			<a href="/home">Home</a> <span class="divider">/</span>
		</li>
		<li>
			<a href="/user/list">User List</a>
		</li>
		<li class="pull-right">
			<i class="icon-arrow-left"></i>
			<a href="/home">Return to Home</a>
		</li>
	</ul>
{% end %}

{% block content-header %}
	<div class="box-header " data-original-title>
		
	</div>
{% end %}

{% block content-body %}

<div class="box-content">
    <a href="/user/add"><i class="icon-pencil"></i>Add an user</a>
    <hr>
    <table class="table" id="mytable">
      <thead>
          <tr class="center">
            <th>ID</th>
            <th>User Name</th>
            <th>Email</th>
            <th>User State</th>
            <th>User Role</th>
            <th>Register Time</th>
          </tr>
      </thead>   
      <tbody>
      {% for user in users %}
        <tr class="center">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td >{% if user.userstate == 0 %}normal{% else %}disable{% end %}</td>
        <td >{% if user.userrole == 0 %}administrator{% else %}consumer{% end %}</td>
        <td >{{ user.register_time }}</td>
        <td >
          <a class="btn btn-info" href="/user/edit/{{ user.id }}">
            <i class="icon-edit icon-white"></i>
            Edit                                            
          </a>
          <a class="btn btn-danger" href="/user/delete/{{ user.id }}">
            <i class="icon-trash icon-white"></i>
            Delete
          </a>
        </td>
        </tr>
      {% end %}
      </tbody>
    </table>

    <div class="controls-row testonly">
      <div class="span3">
        <div class="page_select">
            <label class="span3" style="margin-top: 5px;">选择跳转</label>
            <input class="span3" type="text" name="to_page" id="to_page">
            <button class="span3 btn btn-primary" style="height: 30px;">确定</button>
        </div>
      </div>
      <div class="span3">
        <label class="page_select">共 {{total_page}} 页</label>
      </div>
      <div class="span6">
    <div id="mypaginationdiv" class="testonly">
        <ul id="mypagination"></ul>
    </div>
      </div>
    </div>

  </div>
{% end %}
{% block other-javascript %}
<!-- <script src="{{static_url('libs/js/jquery.min.js')}}"></script>
<script src="{{static_url('libs/js/bootstrap.min.js')}}"></script> -->
<!--<script src="/static/js/jquery.min.js"></script>-->
<!--<script src="/static/js/bootstrap.min.js"></script>-->
<script>
    $('#mypagination').bootstrapPaginator({
        currentPage: {{current_page}},//当前的请求页面。
        totalPages: {{total_page}},//一共多少页。
        size:"normal",//应该是页眉的大小。
        bootstrapMajorVersion: 3,//bootstrap的版本要求。
        alignment:"right",
        numberOfPages:5,//一页列出多少数据。
        itemTexts: function (type, page, current) {//如下的代码是将页眉显示的中文显示我们自定义的中文。
            switch (type) {
            case "first": return "首页";
            case "prev": return "上一页";
            case "next": return "下一页";
            case "last": return "末页";
            case "page": return page;
            }
    },
    onPageClicked: function (event, originalEvent, type, page){
        $.ajax({
            url:'/user/list',
            type:'Post',
            dataType :"json",
            data:{'current_page':page},
            success:function(data)
            {
                <!--clear table tbody data-->
                $("#mytable tbody").html("");
                var item = data.datalist;
                if(data !=null)
                {
                    for(var i=0;i<item.length;i++)
                    {
                        var page='<tr>'
                         page+='<td>' + item[i].id + '</td>';
                         page+='<td>' + item[i].username + '</td>';
                         page+='<td>' + item[i].email + '</td>';
                         if(item[i].userstate == 0){
                            page+='<td>normal</td>';
                         }else{
                            page+='<td>disable</td>';
                         }
                         if(item[i].userrole == 0){
                            page+='<td>administrator</td>';
                         }else{
                            page+='<td>consumer</td>';
                         }
                         page+='<td>' + item[i].register_time + '</td>'
                         page+='<td>' + 
                          '<a class="btn btn-info" href="/user/edit/1">' +
                              '<i class="icon-edit icon-white"></i>' +
                                'Edit   ' +                                           
                          '</a>'+'  '+ 
                          '<a class="btn btn-danger" href="/user/delete/1">'+
                              '<i class="icon-trash icon-white"></i>'+
                                  'Delete' +
                          '</a>' + '</td>'


                         page+='</tr>';
                         $("#mytable tbody").append(page);
                    }
                }


            },
        })
    }
  });
</script>
{% end %}


<!-- <div class="span6" style="width:25%;;margin-right: 10px;">
    <div class="dataTables_length" id="DataTables_Table_0_length">
        <label>
            每页
            <select id="pageSize" onchange="research()"
            aria-controls="DataTables_Table_0" size="1" name="DataTables_Table_0_length">
                <option selected="selected" value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
             条记录
        </label>
    </div>
</div> -->