{% extends "../base.html" %}

{% block content-nav %}
	<ul class="breadcrumb">
		<li>
			<a href="/home">Home</a> <span class="divider">/</span>
		</li>
		<li>
			<a href="/usersetting">Setting</a>
		</li>
		<li class="pull-right">
			<i class="icon-arrow-left"></i>
			<a href="/home">Return to Home</a>
		</li>
	</ul>
{% end %}

{% block content-header %}
	<div class="box-header " data-original-title>
		
	</div>
{% end %}

{% block content-body %}
	<div class="box-content">
		<form action="/usersetting" class="form-horizontal" method="post" id="edit-setting">
			{% module xsrf_form_html() %}
			{% autoescape None %}
			<fieldset>
				<div class="control-group">
					<label for="currentname" class="control-label">当前用户</label>
					<div class="controls">
						<input type="text" value="{{ setting['currentname']}}" id="currentname" name="currentname" class="input-large">
					</div> <!-- /controls -->
				</div> <!-- /control-group -->
				
				<div class="control-group">
					<label for="description" class="control-label">描述</label>
					<div class="controls">
						<textarea rows="8" name="description" id="description" class="span6 typeahead">{{ setting['description']}}</textarea>
					</div> <!-- /controls -->
				</div> <!-- /control-group -->
				
				<div class="control-group">
					<label for="admin_email" class="control-label">管理员邮箱</label>
					<div class="controls">
						<input type="text" value="{{ setting['admin_email']}}" id="admin_email" name="admin_email" class="input-medium">
					</div> <!-- /controls -->
				</div> <!-- /control-group -->
				
				<div class="control-group">
					<label for="can_register" class="control-label">是否允许新用户注册</label>
					<div class="controls">
						<select name="can_register" id="can_register">
							<option value="1" {% if setting['can_register']=='1' %}selected{% end %}>允许</option>
							<option value="0" {% if setting['can_register']=='0' %}selected{% end %}>禁止</option>
						</select>
					</div> <!-- /controls -->
				</div> <!-- /control-group -->
				
				<div class="control-group">
					<label for="can_comment" class="control-label">是否允许评论</label>
					<div class="controls">
						<select name="can_comment" id="can_comment">
							<option value="1" {% if setting['can_comment']=='1' %}selected{% end %}>允许</option>
							<option value="0" {% if setting['can_comment']=='0' %}selected{% end %}>禁止</option>
						</select>
					</div> <!-- /controls -->
				</div> <!-- /control-group -->
				
				<div class="control-group">
					<label for="comments_notify" class="control-label">评论通知</label>
					<div class="controls">
						<select name="comments_notify" id="comments_notify">
							<option value="1" {% if setting['comments_notify']=='1' %}selected{% end %}>启用</option>
							<option value="0" {% if setting['comments_notify']=='0' %}selected{% end %}>禁用</option>
						</select>
					</div> <!-- /controls -->
				</div> <!-- /control-group -->
				
				<div class="control-group">
					<label for="default_category" class="control-label">缺省文章分类ID</label>
					<div class="controls">
						<input type="text" value="{{ setting['default_category']}}" id="default_category" name="default_category" class="input-medium">
					</div> <!-- /controls -->
				</div> <!-- /control-group -->
				
				<div class="control-group">
					<label for="page_size" class="control-label">每页显示多少篇文章</label>
					<div class="controls">
						<input type="text" value="{{ setting['page_size']}}" id="page_size" name="page_size" class="input-medium">
					</div> <!-- /controls -->
				</div> <!-- /control-group -->
				<div class="control-group">
					<label for="rss_size" class="control-label">每页RSS显示多少篇文章</label>
					<div class="controls">
						<input type="text" value="{{ setting['rss_size']}}" id="rss_size" name="rss_size" class="input-medium">
					</div> <!-- /controls -->
				</div> <!-- /control-group -->
				
				<div class="control-group">
                    <label for="posts_per_recent_post" class="control-label">显示多少条最新文章</label>
                    <div class="controls">
						<input type="text" value="5" id="posts_per_recent_post" name="posts_per_recent_post" class="input-medium">
                    </div> <!-- /controls -->
                </div> <!-- /control-group -->
                <div class="control-group">
                    <label for="posts_per_recent_comment" class="control-label">显示多少条最新评论</label>
                    <div class="controls">
						<input type="text" value="5" id="posts_per_recent_comment" name="posts_per_recent_comment" class="input-medium">
                    </div> <!-- /controls -->
                </div> <!-- /control-group -->
				
				<div class="control-group">
					<label for="rss_excerpt" class="control-label">RSS只使用</label>
					<div class="controls">
						<select name="rss_excerpt" id="rss_excerpt">
							<option value="1" {% if setting['rss_excerpt']=='1' %}selected{% end %}>摘要</option>
							<option value="0" {% if setting['rss_excerpt']=='0' %}selected{% end %}>全文</option>
						</select>
					</div> <!-- /controls -->
				</div> <!-- /control-group -->
				{% if success %}
                    <span style="color: rgb(74, 241, 9);">设置保存成功！！！</span>
                {% else %}
                    <br>
                {% end %}
				<div class="form-actions">
					<button class="btn btn-primary" type="submit">保存</button>
					<button class="btn">取消</button>
				</div> <!-- /form-actions -->
			</fieldset>
		</form>
	</div>
{% end %}

{% block other-javascript %}


<script src="/static/js/jquery.validate.min.js"></script>
<script type="text/javascript">
    function OptionsSaveSuccess(responseText)  { 
        if(responseText != ""){
            comment = JSON.parse(responseText);
            if(comment.length != 2)
                return;
        }
    }

    var options_rules = {
        rules: {
            currentname: {
                minlength: 2,
                maxlength: 32,
                required: true
            },
            description: {
                minlength: 2,
                maxlength: 100,
                required: true
            },
            admin_email: {
                required: true,
                email: true
            },
            default_category: {
                required: true,
                number: true
            },
            page_size: {
                required: true,
                number: true,
                range: [1,100]
            },
            rss_size: {
                required: true,
                number: true,
                range: [1,100]
            },
            posts_per_recent_post: {
                required: true,
                number: true,
                range: [1,100]
            },
            posts_per_recent_comment: {
                required: true,
                number: true,
                range: [1,100]
            },
        }
    };
    $('#edit-setting').validate(options_rules);
</script>
{% end %}