<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Base</title>
    <link href="static/libs/css/icomoon/style.css" rel="stylesheet">
    <!--<script src="static/libs/css/icomoon-font/lte-ie7.js"></script>-->
    <!--<link href="static/libs/css/wysiwyg/bootstrap-wysihtml5.css" rel="stylesheet">-->
    <!--<link href="static/libs/css/wysiwyg/wysiwyg-color.css" rel="stylesheet">-->
    <link href="static/libs/css/main.css" rel="stylesheet">
     <!--Important. For Theming change primary-color variable in main.css  -->
    <!--<link href="css/charts-graphs.css" rel="stylesheet">-->
</head>
<body>
<header>
    <a href="#" class="logo">
        <img src="{{static_url('img/logo1.png')}}" alt="logo" />
    </a>
    <div class="btn-group">
        <button class="btn btn-primary">
            Srinu Baswa
        </button>
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
            <li>
                <a href="#">
                    Edit Profile
                </a>
            </li>
            <li>
                <a href="#">
                    Account Settings
                </a>
            </li>
            <li>
                <a href="#">
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <ul class="mini-nav">
        <li>
            <a href="#">
                <div class="fs1" aria-hidden="true" data-icon="&#xe040;"></div>
                <span class="info-label badge badge-warning">3</span>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="fs1" aria-hidden="true" data-icon="&#xe04c;"></div>
                <span class="info-label badge badge-info">5</span>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="fs1" aria-hidden="true" data-icon="&#xe037;"></div>
                <span class="info-label badge badge-success">9</span>
            </a>
        </li>
    </ul>
    </header>

</body>
</html>