<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1,user-scalable=0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head%}
    <title>Home Base</title>
    {% end %}
    <!-- 使用static_url防止二级路径访问出错 -->
    <script src="{{static_url('libs/js/jquery.min.js')}}"></script>
    <script src="{{static_url('libs/js/bootstrap.min.js')}}"></script>
    
    <link rel="stylesheet" href="{{static_url('libs/css/bootstrap.min.css')}}">

    <!-- <link href="static/libs/css/icomoon/style.css" rel="stylesheet"> -->
    <link href="{{static_url('libs/css/icomoon/style.css')}}" rel="stylesheet">
    <link href="{{static_url('libs/css/main.css')}}" rel="stylesheet">
    <link href="{{static_url('libs/css/mycss.css')}}" rel="stylesheet">

    <!--<script src="{{static_url('libs/js/myjs/multiple-select.js')}}"></script>-->
    <!--<link rel="stylesheet" href="{{static_url('libs/css/mycss/multiple-select.css')}}">-->
    {% block other-css %}
    {% end %}
</head>
<body>
<header>
    <a href="#" class="logo">
        <img src="{{static_url('img/logo.png')}}" alt="logo" />
    </a>
    <div class="btn-group">
        <button class="btn btn-primary">
            feiying
        </button>
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
            <li>
                <a href="#">
                    Edit Profile
                </a>
            </li>
            <li>
                <a href="#">
                    Account Settings
                </a>
            </li>
            <li>
                <a href="/extra">
                    Extra
                </a>
            </li>
            <li>
                <a href="/logout">
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <ul class="mini-nav">
        <li>
            <a href="#">
                <div class="fs1" aria-hidden="true" data-icon="&#xe040;"></div>
                <span class="info-label badge badge-warning">3</span>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="fs1" aria-hidden="true" data-icon="&#xe04c;"></div>
                <span class="info-label badge badge-info">5</span>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="fs1" aria-hidden="true" data-icon="&#xe037;"></div>
                <span class="info-label badge badge-success">9</span>
            </a>
        </li>
    </ul>
</header>
<div class="container-fluid">
    <div class="row-fluid">
        <!-- left menu starts -->
        <div class="span3 main-menu-span" style="border:solid 1px black">
            <div class="well nav-collapse sidebar-nav" style="border:solid 1px red;margin-top: 100px">
                <ul class="nav nav-tabs nav-stacked main-menu menu-style">
                    <li class="nav-header hidden-tablet">Main</li>
                    <li><a class="ajax-link" href="/homepage"><i class="icon-home"></i><span class="hidden-tablet"> Home Page</span></a></li>
                    <li><a class="ajax-link" href="/chart"><i class="icon-edit"></i><span class="hidden-tablet"> Preview</span></a></li>
                    <!-- 注意 /note/list 与 note/list的区别 -->
                    <li><a class="ajax-link" href="/note/list"><i class="icon-list-alt"></i><span class="hidden-tablet"> Note List</span></a></li>
                    <li><a class="ajax-link" href="/project/list"><i class="icon-list"></i><span class="hidden-tablet"> Project List</span></a></li>
                    <li><a class="ajax-link" href="/task"><i class="icon-th-list"></i><span class="hidden-tablet"> Task List</span></a></li>
        <!--             <li><a class="ajax-link" href="/bug/list"><i class="icon-th-list"></i><span class="hidden-tablet"> Bug List</span></a></li> -->
                    <li><a class="ajax-link" href="/compmt/list"><i class="icon-th-list"></i><span class="hidden-tablet"> Component Maintenance</span></a></li>
                    <li><a class="ajax-link" href="/bugtrack/list"><i class="icon-th-list"></i><span class="hidden-tablet"> Bug Track List</span></a></li>

                    <li class="nav-header hidden-tablet">User Manage</li>
                    <li><a class="ajax-link" href="/user/list"><i class="icon-user"></i><span class="hidden-tablet"> User List</span></a></li>
                    <li><a class="ajax-link" href="/usersetting"><i class="icon-wrench"></i><span class="hidden-tablet"> Setting</span></a></li>
                </ul>
            </div><!--/.well -->
        </div><!--/span-->
        <!-- left menu ends -->
        <div  class="span9" style="height:50px;border:solid 1px blue;margin-top: 80px;">
            导航说明
            <!-- content starts -->
            <div>
                {% block content-nav %}
                <ul class="breadcrumb">
                    <li>
                        <a href="/home">Home</a> <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="#">Blank</a>
                    </li>
                </ul>
                {% end %}
            </div>
            
        </div>
        <div class="span9" style="border:solid 1px blue;margin-top: 20px;">
             主体
            {% block content %}
            <div class="row-fluid sortable">
                <div class="box span12">
                    {% block content-header %}
                    <div class="box-header " data-original-title>
                    </div>
                    {% end %}
                    
                    {% block content-body %}
                    <div class="box-content">
                    </div>
                    {% end %}
                </div><!--/span-->
            </div><!--/row-->
            {% end %}
            <!-- content ends -->
        </div>
        <div class="span1">

        </div>
    </div> 
</div>



{% block other-javascript %}
{% end %}
</body>
</html>