<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Extra Home</title>
    {% end %}
    <script src="{{static_url('libs/js/jquery.min.js')}}"></script>
    <script src="{{static_url('libs/js/bootstrap.min.js')}}"></script>
    <script src="{{static_url('libs/js/common.js')}}"></script>
    <link rel="stylesheet" href="{{static_url('libs/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('libs/css/extra.css')}}">
    {% block js-css %}
    {% end %}
    {% block func %}
    {% end %}

</head>
<body>
<header>
	<div class="divheader debug">
		<div class="col-md-8 debug"></div>
		<div class="col-md-4 debug">
			{% if user is None %}
			<button class="btn">登录</button>
			{% else %}
			<button class="btn">{{user.nickname}}</button>
			<button class="btn dropdown-toggle" data-toggle="dropdown" style="margin-left: -7px;">
			    <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a>个人信息</a></li>
			    <li><a href="/topic/admin">我的博客</a></li>
			    <li><a href="/home">我的主页</a></li>
			    <li class="divider"></li>
			    <li><a>设置</a></li>
			    <li><a href="/logout">退出</a></li>
			</ul>
			{% end %}
			<label style="width: 160px;float: right;margin-top: 10px;margin-right: 20px;"><span id="currentdate" ></span></label>
		</div>
	</div>
</header>
<div class="container-fluid debug">
	<div class="row-fluid">
		<!-- nav -->
		<div class="col-md-11 e-nav">
			<ul class="nav nav-pills" id="extranav">
				<li class="active">
					<a class="ajax-link" href="#">首页</a>
				</li>
				<li>
					<a class="ajax-link" href="#">设置</a>
				</li>
				<!-- <li><a href="/topic" style="float: right;">写消息</a></li> -->
			</ul>
		</div>
		<div class="col-md-1">
			<a href="/topic" style="float: right;margin-top: 20px;">写消息</a>
		</div>
		<!-- left -->
		<div class="col-md-2"></div>
		<!-- main -->
		<div class="col-md-8">
			{% block main %}
			<div class="col-md-12">
				<hr style="filter: alpha(opacity=100,finishopacity=0,style=2)" width="100%" color="#6f5499" size="10"/>
			</div>
			{% for topic in topics %}
			<div class="col-md-12">
				<div class="col-md-8 topic">
					<a href="#">{{topic.title}}</a>
				</div>
				<div class="col-md-2">
					<a>分类：{{topic.category}}</a>
				</div>
				<div class="col-md-2 rightsytle">
					<a>作者：{{topic.author}}</a>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-11 topic">
					<label>{{topic.content}}</label>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-3">
					<a href="#">回复：{{topic.discuss}}</a>
				</div>
				<div class="col-md-3">
					<a href="#">点赞：{{topic.likes}}</a>
				</div>
				<div class="col-md-6 createtime rightsytle">
					<label>{{topic.create}}</label>
				</div>
			</div>
			{% end %}
			<div class="col-md-12">
				<hr style="filter: alpha(opacity=100,finishopacity=0,style=2)" width="100%" color="#6f5499" size="10"/>
			</div>
			{% end %}
		</div>
		<!-- right -->
		<div class="col-md-2"></div>
	</div>
</div>
<!-- <script type="text/javascript">		
	$('#extranav li').click(function() {
		console.log("clicked...");
	    $(this).addClass('active').siblings().removeClass('active');
	})
	
</script> -->

</body>
</html>